<head>
</head>
<body>
    <h1><%= "El balance de tu cuenta es: "+ @montoCuenta%> </h1>
    <form action="CambiarMonto">
        <input type="number" id="monto" name="monto">
        <input id="cambio" type ="submit" name ="cambio" value="Depositar"/>
    </form>

</body>